<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>LFP-Document</title>
    <!-- IMPORT CSS -->

</head>

<body>
    这是一个 ejs 的模板引擎
    <h2>ejs 循环渲染数据</h2>
    
    <ul>
        <!-- 循环绑定数据 -->
        <%for(let i=0; i<list.length; i++){%>
        <li><%=list[i]%></li>
        <%}%>
    </ul>

</body>

</html>